$light-pink: #AD8780;
$orange: #FC8C5F;

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin forListst {
    list-style-type: none;
    align-items: center;
}

@mixin  forLinks{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
} 

@mixin forTtls {
    font-size: 30px;
    color: #000;
    font-family: 'Trajan Pro 3';
    font-weight: 400;
}

ul{
    @include forListst
}